<footer class="site-footer" role="contentinfo">
  <a href="#Z" id="AZ" title="下方功能區塊" accesskey="Z" name="Z" class="sr-only">:::</a>
  <div class="absolute w-full h-auto bottom-0 left-0 z-0">
    <img src="/assets/images/nav-footer-bg.png" alt="" />
  </div>
  <div class="container -top-[175px] flex items-center flex-col z-10">
    <!-- Footer Logo -->
    <div class="footer-logo pb-15 md:pb-10">
      <!-- <img src="/assets/images/logo/logo-resource-map.png" alt="商業署資源地圖標誌" width="60" height="60" /> -->
      <p class="text-dark text-[clamp(1.25em,_2.4vw_+_0.5em,_3.1875em)] font-normal footer-reveal">商業署資源地圖</p>
    </div>

    <!-- Footer Info -->
    <div class="footer-info">
      <p class="text-[clamp(1em,_1.354vw_+_0.594em,_1.8125em)] footer-reveal">主辦單位｜商業署網站</p>
      <p class="text-[clamp(1em,_1.354vw_+_0.594em,_1.8125em)] footer-reveal">執行單位｜財團法人商業發展研究院</p>
      <p class="text-[clamp(1em,_1.354vw_+_0.594em,_1.8125em)] footer-reveal">
        諮詢專線｜
        <a
          class="text-[1em] focus-visible:bg-primary focus-visible:text-white hover:text-primary transition-all duration-300 font-inter footer-reveal"
          title="諮詢專線"
          href="tel:0800-000-000"
          aria-label="撥打諮詢專線 0800-000-000"
        >
          0800-000-000
        </a>
      </p>
      <p class="text-[clamp(1em,_1.354vw_+_0.594em,_1.8125em)] footer-reveal">客服時間｜平日上午9點至下午17點</p>
      <p class="text-[clamp(1em,_1.354vw_+_0.594em,_1.8125em)] footer-reveal">
        諮詢表單｜
        <a
          class="text-[1em] footer-link focus-visible:bg-primary focus-visible:text-white footer-reveal"
          title="諮詢表單"
          href="#"
          aria-label="線上填寫諮詢表單"
        >
          線上填寫
        </a>
      </p>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom flex flex-col items-center mt-5 pt-5 gap-5">
      <p class="footer-copyright text-[clamp(1em,_1.354vw_+_0.594em,_1.8125em)] footer-reveal">
        <span class="font-inter">Copyright &copy; 2026</span>
        經濟部商業發展署 版權所有
      </p>
      <div class="flex items-center gap-5 flex-wrap justify-center">
        <p class="footer-visitors text-[clamp(1em,_1.354vw_+_0.594em,_1.8125em)] footer-reveal">
          網站瀏覽人數：
          <span id="counter">0</span>
        </p>
        <a title="無障礙網站" href="#" class="max-w-[150px] footer-accessibility-badge footer-reveal">
          <img class="w-full h-auto" src="/assets/images/accessibility.png" alt="無障礙標章圖示" />
        </a>
      </div>
    </div>
  </div>
</footer>
